
# UGO-Omics large Sequence-to-UGO database files
toolkits/P2_v2_0_1_sequence_to_ugo/database/UGO_11species_protein_search_database_v1.fa
toolkits/P2_v2_0_1_sequence_to_ugo/database/UGO_11species_protein_search_database_v1.fa.gz
toolkits/P2_v2_0_1_sequence_to_ugo/database/UGO_11species_protein_search_database_v1.dmnd
toolkits/P2_v2_0_1_sequence_to_ugo/database/UGO_sequence_to_orthogroup_lookup_v1.tsv
